/* ==========================================================================
   VARIABLES
   ========================================================================== */
$primary-color: #F7567C; // Brink Pink
$secondary-color: #99E1D9; // Pale Robin Egg Blue
$tertiary-color: #FFFAE3; // Cosmic Latte
$light-color: #FCFCFC; // Baby Powder
$dark-color: #5D576B; // Black Coral